@media only screen and (min-width: 600px) {
  .Wrapper {

    display: inline-grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-gap: 20px 20px;

  }
  
  .ContentTabs{
    margin-top: 0;
  }
}
.Wrapper {
  
  margin: 15pt;
  width: 97vw; 
  min-height: 95vh;
}
.App {
  text-align: center;
}

#Tabs{
  width: 100%;

}


#TabList {
  text-align: right;

 
}

.Displayed{
  overflow-y:auto;
  scrollbar-width: thin;
  scrollbar-color:  #001f3f transparent;
}
.Options {

  padding: 10pt;
}

.ContentTabs{
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row: 1 / span 10;
  margin-top: 20pt;
}

#pop{
  border-radius: 15px;
background: #bca2a0;
box-shadow:  10px 10px 20px #a58f8d, 
             -10px -10px 20px #d3b5b3;
}

#drop{
  border-radius: 15px;
  background: #bca2a0;
  box-shadow: inset 10px 10px 20px #a58f8d, 
              inset -10px -10px 20px #d3b5b3;
}

#right {

}

.options-grid-container {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-gap: 20px 20px;
}

