.Wrapper {
  margin: 10pt;
}
.App {
  text-align: center;
}

#Tabs{
  width: 100%;

}

#TabList {
  text-align: right;
  
}
.Options {
  border-style: solid;
  border-color: black;
  border-radius: 5pt;
  border-width: 1px;
  padding: 3pt;
}
#Display {


 
}
